{% extends 'kurama.html' %}
{% block body %}

<div class="app-area-right flt-right">

  <div class="tools">
    <a href="/register">
    <div class="tool-box flt-left">
      <div class="tool-box-upper"><h1 style="color: #f03939;"><i class="far fa-edit"></i></h1></div>
      <div class="tool-box-lower"><p>Register a new patient</p></div>
    </div>
    </a>
    <div class="tool-box flt-left">
      <div class="tool-box-upper"><h1 style="color:  #39f0ab "><i class="fas fa-search"></i></h1></div>
      <div class="tool-box-lower"><p>Find a patient</p></div>
    </div>
    <a href="/compare">
    <div class="tool-box flt-left">
      <div class="tool-box-upper"><h1 style="color:  #398cf0 "><i class="far fa-user"></i> <i class="far fa-user"></i></h1></div>
      <div class="tool-box-lower"><p>Compare Mode</p></div>
    </div>
    </a>
    <a href="/extreme">
    <div class="tool-box flt-left">
      <div class="tool-box-upper"><h1 style="color:  #f039d4 "><i class="far fa-folder"></i></h1></div>
      <div class="tool-box-lower"><p>Extreme Mode</p></div>
    </div>
    </a>
    <a href="/eagle-vision">
    <div class="tool-box flt-left">
      <div class="tool-box-upper"><h1 style="color:    #f39c12 "><i class="fas fa-eye"></i></h1></div>
      <div class="tool-box-lower"><p>Eagle Vision Mode</p></div>
    </div>
    </a>
    <div class="clear"></div>
  </div>

</div>

{% endblock %}
